body {
    background-color: #EEEEEE;
    padding: 0px;
    margin: 0px;
    color: #414141;
    font-family: Verdana, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    padding: 20px;
    margin: 0px;
}

p {
    color: #414141;
    padding: 20px;
    margin: 0px;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    background-color: #410000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #6000ff;
}

section {
    display: flex;
}

aside {
    flex: 1;
}

article {
    flex: 4;
}