body {
    background-color: #EEEEEE;
    padding: 10px;
    color: #414141;
    font-family: Verdana, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

p {
    color: #414141;
}

nav li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}